body{
    background-color: rgba(191, 150, 115, 1);
    font-family: Itim;
    line-height: normal;
}
header,
footer{
    background-color: rgba(115, 23, 2, 1);
    height: 200px;
    width: 1583px;
    margin-left: -8px;
    margin-bottom: -8px;
    padding-top: 20px;
    margin-top: 70px;
}
#Desenvolvido{
    display: flex;
    justify-content: end;
    padding-top: -100px;
}
#textodesenv{
    font-size: 13px;
    margin-right: 30px;
    color: rgba(255, 251, 228, 1);
    text-shadow: 10px 10px 5.7px rgba(0, 0, 0, 0.3);    
}
.opcaofooter{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
    text-shadow: 10px 10px 5.7px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.opcaofooter a{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
    text-shadow: 10px 10px 5.7px rgba(0, 0, 0, 0.3);
    }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
}
#menu {
    background-color: rgba(115, 23, 2, 1);
    height: 65px;
    width: 1573px;
    margin-left: -8px;
    margin-top: -8px;
    padding: 5px;
}
#opcao3 a{
    text-decoration: none;
    color:#731702;
    font-size: 35px;
    text-shadow: 10px 10px 4.6px rgba(0, 0, 0, 0.1);
}
#opcao4{
    color:#00562D;
    font-size: 25px;
    text-shadow: 10px 10px 4.6px rgba(0, 0, 0, 0.1);
}

.opcao a,
.opcao1 a,
.opcao2 a{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
    
}
#logo{
    padding-left: 20px;
}
input{
    background-color: (255, 251, 228, 1);
    width: 500px;
    margin-right: 40px;
    height: 30px;
    font-family: Inter;
    background-color: rgba(255, 251, 228, 1);
    border: 1px solid rgba(255, 251, 228, 1);
    border-radius: 8px;
    text-decoration: none;
}
input{
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; /* Cor de fundo */
    font-family: Itim;
    color: #731702;
    font-size:25px;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color:#731702 
}
#bloco{
    height: 800px;
    width: 1100px;
    background-color:#00562D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 5px;


}

#txt{
    width: 700px;
    position: relative;
    font-size: 64px;
    letter-spacing: 0.05em;
    line-height: 95%;
    font-family: Itim;
    color: #fffbe4;
    text-align: center;
    display: inline-block;
    text-shadow: 10px 10px 5.6px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
}
.txt-boas-vindas{
    width: 700px;
    position: relative;
    font-size: 40px;
    letter-spacing: 0.05em;
    line-height: 95%;
    font-family: Itim;
    color: #00562d;
    text-align: center;
    display: inline-block;
    text-shadow: 10px 10px 4.6px rgba(0, 0, 0, 0.1);
    margin:0;
    margin-top: 10px;
}

#forms{
    background-color: #fffbe4;
    width: 700px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    
}

.opcao2{
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -240px;
    margin-right: 150px;
    border: 1px solid;
    border-radius: 10px;
}
.opcao2 a{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
}
.opcao3{
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 100px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -100px;
    border: 1px solid;
    border-radius: 10px;
}
.opcao3 a{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
}

.opcao {
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 100px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    border-radius: 10px;

}
.opcao1 {
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin: 50px;
    margin-right: 150px;
    background-color: rgba(242, 127, 61, 1);
}
.opcao a,
.opcao1 a{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
}
#titulo{
    text-shadow: 10px 10px 4.6px rgba(0, 0, 0, 0.1);
    border:solid white 1px;
    border-color: white;
}

#caixa-cadastro{
    background-color: #731702;
    font-family: Itim;
    color: #fffbe4;
    text-decoration: none;
    border-style: none;
    border-radius: 4px;
    font-size: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 10px 10px 4.6px rgba(0, 0, 0, 0.1);
}
.opcao4{
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 100px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 45px;
    border: 1px solid;
    border-radius: 10px;
}
.opcao4 a, .opcao5 a{
    text-decoration: none;
    color: rgba(255, 251, 228, 1);
}
.opcao5{
    text-decoration: none;
    display: inline;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    padding-top: 100px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    border-radius: 10px;
}